.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@font-face {
  font-family: 'Hurme';
  src: url('./assets/font/HurmeGeometricSans3SemiBold.otf') format('opentype');
}

.hurme{
  font-family: 'Hurme';
}