@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hurme";
  src: url("./assets/font/HurmeGeometricSans3SemiBold.otf"), format("opentype");
}

.hurme {
  font-family: "Hurme";
}
